:root {
  --branding-color: #a8a6a1;
  --secondary-color: #361718;
  --heading-font-family: "Lobster", cursive;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
}
h1 {
  font-size: 85px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-weight: bold;
  margin-top: 0;
}

nav {
  opacity: 0.2;
}

img {
  width: 500px;
  height: 600px;
  margin-top: 10px;
}

h3 {
  font-size: 40px;
}

.hero {
  text-align: center;
  padding: 20px 20px;
}

.hero p {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  color: var(--branding-color);
  opacity: 0.7;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 30px;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.btn-branding {
  background-color: var(--branding-color);
  font-size: 16px;
  line-height: 27px;
  padding: 10px 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent 0.5;
  color: var(--secondary-color);
  margin-top: 50px;
  border-radius: 1px;
}

.btn:hover {
  color: black;
}

.description {
  color: white;
  opacity: 0.5;
}

 

.title {
  font-size: 45px;
  padding-bottom: 10px;
}

.email {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.learn-more {
  color: black;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.lh-copy {
    line-height: 1.5;
}

.project-name {
  font-family: var(--default-font-family);
  font-size: 30px;
}


#about-me {
  font-size: 18px;
  color: black;
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 58px;
}

#work {
  font-size: 18px;
  color: black;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 20px 35px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 50px 10px;
  }
  .my-introduction {
    margin: 40px 40px;
}
}

