:root {
  --branding-color: #a8a6a1;
  --secondary-color: #361718;
  --heading-font-family: "Lobster", cursive;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
}
h1 {
  font-size: 85px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-weight: bold;
  margin-top: 0;
}

nav {
  opacity: 0.2;
}

.hero {
  text-align: center;
  padding: 20px 20px;
 
}

.hero p {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  color: var(--branding-color);
  opacity: 0.7;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 30px;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.btn-branding {
  background-color: var(--branding-color);
  font-size: 16px;
  line-height: 27px;
  padding: 10px 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent 0.5;
  color: var(--secondary-color);
  margin-top: 50px;
}

.btn:hover {
  color: black;
}

img {
  width: 500px;
  height: 600px;
  margin-top: 10px;
}

h3 {
  font-size: 35px;
}